/* universal */
*{
    margin:0;
   
}
main{
    background-color: rgb(246, 248, 254);
}
/* fonts */

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Nav styles */
.banner-container{
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size:cover;
    padding-bottom:150px;
}
.banner-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-top:50px;
    margin-left:150px;
    color:rgba(78, 71, 255, 1);
    font-weight: 900;
    font-size:34px;

}
.sign-up-btn{
    margin-top:50px;
    margin-right:150px;
    color:white;
    padding:12px 36px;
    border-style: none;
    background-color: rgba(78, 71, 255, 1);
    border-radius:10px;
    height:48px;
    width:140px;
    font-size:16px;
    font-weight:bold;
}
.banner-text{
    text-align: center;
    
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    margin-top:150px;
    margin-left:250px;
    margin-right:250px; 
}
.banner-sub-title{
    padding:12px 36px;
    background-color: rgba(78, 71, 255, 1);
    text-align: center;
    height: 48px;
    width:180px;
    color:white;
    border-style:none;
    border-radius:10px;
    margin-top:37px;
    font-size:16px;
    font-weight:bold;
}
button:hover{
    background-color: rgba(78, 71, 255, .5);
    cursor:pointer;
    
}

/* action styles */
.action-container{
    display:flex;
    margin: auto;
    gap:220px;
    width:1140px;
    height:330px;
}
.action-text{
    padding-top:70px;
    align-items:center;
    margin-top:70px;
}
.action-title{
    font-size: 42px;
    font-weight:bold;
}
.action-sub-title{
    font-size: 24px;
    font-weight:400;
    color:rgba(37, 36, 50, 0.5);
    margin-top:20px;
}
.action-btn{
    width:235px;
    height:48px;
    background-color: rgba(78, 71, 255, 1);
    border-style: none;
    color:white;
    margin-top:23px;
    border-radius:10px;
    font-size: 16px;
    font-weight: bold;
    padding:12px 36px;
}
.action-photo{
    width:400px;
    height:330px;
    border-radius:48px;
    margin-top:70px;
    
}
/* productive user style */
.productive-user{
    background-color: rgba(78, 71, 255, 0.1);
    width:1140px;
    height:310px;
    margin:200px auto;
    border-radius:24px;
}
.productive-user-title{
    text-align: center;
    font-weight:bold;
    font-size:38px;
    padding-top:50px;
    margin-top:120px;
   
}
.productive-user-number{
    display:flex;
    justify-content: space-around;
    gap:150px;
    font-size:50px;
    font-weight: bold;
    margin-top:50px;
    padding-left:150px;
    padding-right:150px;
   
    color:rgba(78, 71, 255, 1);
   
}
.productive-user-sub-title{
    display:flex;
    justify-content:space-evenly;
    
    font-size:20px;
    font-weight:400;
    color:rgba(0, 0, 0, 0.5);
    margin:5px auto;
}
/* review section style */
.review-title{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}
.review-card{
    display:flex;
    justify-content:center;
    gap:20px;
    padding-top:50px;
    
}
.review-card-text1,.review-card-text2,.review-card-text3{
    
    border:2px solid rgba(242, 237, 237, 1);
    border-radius:14px; 
    padding:24px;
    background-color: rgba(251, 244, 244, 0.25);
    width:350px;
    margin-bottom:140px;  
}
.card-title{
    font-size:24px;
    font-weight: 700;
    padding-top:25px;
}
.card-sub-title{
    font-size: 16px;
    font-weight:400;
    padding-top:8px;
}
.profile{
    display:flex;
    gap:12px;
    padding-top:24px;
}
.photo{
    border-radius: 50%;
}
.name{
    font-size: 16px;
    color:rgb(120, 120, 120);
}
.date{
    font-size:16px;
    color:rgb(210, 210, 210);
}
/* start free section style */
.start-free-container{
  background-color:rgba(255, 255, 255, 1);
  width:1140px;
  height:600px;
  margin:auto;
  border:2px solid rgba(242, 237, 237, 1);
  padding-top:70px;
  border-radius:14px;
}
.start-free-text{
    text-align: center;
}
.start-free-title{
    font-size: 50px;
    font-weight: bold;
    padding-bottom:20px;
}
.start-free-sub-title{
    font-size:16px;
    font-weight: 300;
    color:rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
}
.start-free-btn{
    padding-top:14px;
    height:48px;
    width:195px;
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(78, 71, 255, 1);
    color:white;
    border-style: none;
    border-radius:10px;
    padding-bottom:20px;
    
}
.start-free-photo{

    margin:20px auto;
    border-radius:48px;
    height:450px;
    width:840px;
}
.free-photo{
    border-radius:48px;
   
       

}
/* newsletter style */
.newsletter{
    margin:auto;
    align-items: center;
    width:1140px;
    height:450px;
}
.newsletter-container{
    display:flex;
    justify-content: space-around;
   
    margin-top:160px;
    margin-bottom:70px;
}
.newsletter-text{
    margin: auto;
    font-size: 50px;
    max-width: 500px;
}
form{
    margin:auto;
}
.form-title{
    font-size: 11px;
    font-weight:bold;
    padding-bottom:10px;
     padding-top:10px;
     
}
input{
    width:300px;
    height:50px;
    border-radius:10px;
    border:2px solid rgba(0, 0, 0, 0.15);
   
}
textarea{
    border-radius:10px;
    border:2px solid rgba(0, 0, 0, 0.15);
}
input::placeholder{
padding-left:22px;
padding-top:15px;
padding-bottom:15px;
font-size:15px;
color:rgba(0, 0, 0, 0.5);
}
textarea::placeholder{
    padding-left:22px;
padding-top:15px;
padding-bottom:15px;
font-size:15px;
color:rgba(0, 0, 0, 0.5);
}
.newsletter-btn{
width:320px;
height:50px;
margin-top:15px;
padding-top:15px;
padding-bottom:15px;
font-size:16px;
background-color:rgba(78, 71, 255, 1);
color:white;
font-weight: bold;
border-style: none;
border-radius:10px;
}
/* footer style */
.footer-container{
    padding:105px 400px;
}
.footer-title{
    text-align: center;
    font-size: 100px;
    color:rgba(78, 71, 255, 1);
    font-weight: 800;

}
.footer-sub-title{
    text-align: center;
    font-size:14px;
    width:530px;
    margin:auto;
    color:rgba(137, 135, 161, 1);
    padding-top:10px;
}
.footer-ending{
    display:flex;
    justify-content: space-around;
    max-width: 420px;
    margin:auto;
    padding-top:25px;
    color:rgba(137, 135, 161, 1);
    font-size:15px;
    
}

.home{
    font-weight:200px;
    text-decoration: none;
    color:rgba(137, 135, 161, 1);

}
